services:
    backend:
        build: .
        container_name: pran-portfolio
        restart: always
        ports:
            - "3000:3000"
        volumes:
            - .:/app
            - /app/node_modules

        command: sh -c "npm install && npm run dev" 

