@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Oswald", ui-sans-serif, system-ui, sans-serif;
  --color-primary-blue: #0b457f;
  --color-text-gray: #6c757d;
  --color-heading-gray: #343a40;
}
